/Loja/Aplicação/build/
/Código/PSC_Aplicacao/nbproject/private/
/Código/PSC_Aplicacao/build/
/Código/PSC_Persistencia/build/
/Código/PSC_Apresentacao/nbproject/private/
/Código/PSC_Apresentacao/build/
/Código/PSC_Apresentacao_Desktop/nbproject/private/
/Código/PSC_Apresentacao_Desktop/build/
/Código/PSC_Aplicacao/dist/
/Código/PSC_Persistencia/dist/
/Código/PSC_Apresentacao_Desktop/dist/